<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="assets/styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,400i,700,800" rel="stylesheet">

    <title>Netpeak</title>
</head>
<body ng-app="app">
    <header class="background-blue">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#">AppStarter</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Video tour</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <button class="btn-default">GET IT FREE</button>
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>

            <section class="section-greating">
                <div class="row">
                    <div class="left-side col-md-6 no-gutters">
                        <div><img src="assets/images/app-icon.png" alt="Alternate Text" /></div>
                        <h2 class="title"><span>AppStarter.</span> Best landing page for web and mobile apps</h2>
                        <p>
                            <button class="btn-default gradient-orange">Download now</button>
                            <button class="btn-default">Watch video</button>
                        </p>
                    </div>
                    <div class="right-side col-md-6 no-gutters">
                        <div class="phone">
                            <img src="assets/images/tablet-1.png" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
            </section>
        </div><!--/.container-->
    </header>

    <section class="section-features background-grey">
        <div class="container">
            <h2 class="title"><span>How</span> does it work</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="block-feature">
                        <div class="icon">
                            <img src="assets/images/sync-icon.png" alt="Alternate Text" />
                        </div>
                        <h4 class="title"><span>Sync</span> across all devices</h4>
                        <p>This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise.</p>
                        <a href="#">Watch video</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block-feature">
                        <div class="icon">
                            <img src="assets/images/all-email-icon.png" alt="Alternate Text" />
                        </div>
                        <h4 class="title"><span>All emails</span> in one place</h4>
                        <p>This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise.</p>
                        <a href="#">Watch video</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block-feature">
                        <div class="icon">
                            <img src="assets/images/notifications-icon.png" alt="Alternate Text" />
                        </div>
                        <h4 class="title"><span>Notifications</span> about sales</h4>
                        <p>This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise.</p>
                        <a href="#">Watch video</a>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section>

    <section class="section-press background-white">
        <div class="container">
            <img src="assets/images/press/press-1.png" alt="Alternate Text" />
            <img src="assets/images/press/press-2.png" alt="Alternate Text" />
            <img src="assets/images/press/press-3.png" alt="Alternate Text" />
            <img src="assets/images/press/press-4.png" alt="Alternate Text" />
            <img src="assets/images/press/press-5.png" alt="Alternate Text" />
            <img src="assets/images/press/press-6.png" alt="Alternate Text" />
        </div>
    </section>

    <section class="section-highlight background-grey" ng-controller="highlight">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block-highlight" ng-repeat="tab in tabs" ng-click="showId()">
                        <img src="{{tab.imageUrl}}" alt="Alternate Text" />
                        <div>
                            <h4 class="title">{{tab.title}}</h4>
                            <p>{{tab.text}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="phone">
                        <img src="assets/images/tablet-2.png" alt="Alternate Text" />
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section>

    <section class="section-getting-started background-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-6 left-side">
                    <h2 class="title"><span>Download</span> to get started</h2>
                    <p>This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment.</p>
                </div>
                <div class="col-md-6 right-side">
                    <button class="btn-default gradient-orange">Buy for 24$</button>
                    <button class="btn-default">Try It Free</button>
                </div>
            </div>
        </div>
    </section>

    <section class="section-benefits background-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-6 block-benefit background-blue">
                    <div class="phone">
                        <img src="assets/images/tablet-3.png" alt="Alternate Text" />
                    </div>
                </div>
                <div class="col-md-6 block-benefit background-white">
                    <h2 class="title"><span>Perfect</span> landing page for your app</h2>
                    <p>This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself walking.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 block-benefit background-white">
                    <h2 class="title"><span>Style guide</span> and sample pages included</h2>
                    <p>This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself walking.</p>
                </div>
                <div class="col-md-6 block-benefit background-blue">
                    <div class="phone">
                        <img src="assets/images/tablet-4.png" alt="Alternate Text" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-video-tour">
        <div class="container">
            <div class="col-md-6 offset-md-3">
                <h2 class="title"><span>Watch</span> video tour</h2>
                <p>This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her.</p>
                <button class="button-play-video">
                    <img src="assets/images/play-video-icon.png" alt="Alternate Text" />
                </button>
            </div>
        </div>
    </section>

    <section class="section-testemonials background-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-4 left-side">
                    <div class="rating"></div>
                    <h2 class="title">Customers <br />about AppStarter</h2>
                    <ul class="list-review">
                        <li>Read more reviwes:</li>
                        <li>App Store</li>
                        <li>Google Play</li>
                    </ul>
                </div>
                <div class="col-md-8 right-side">
                    <div class="comment-block">
                        <div class="comment">
                            <img src="assets/images/customer-1.png" alt="Alternate Text" />
                            <p>This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself.</p>
                        </div>
                        <div class="comment-info">
                            <p class="person">
                                <span class=""></span>
                                <span class=""></span>
                            </p>
                            <a href="#"><img src="assets/images/twitter.png" alt="Alternate Text" /></a>
                        </div>
                    </div>
                    <div class="comment-block">
                        <div class="comment">
                            <img src="assets/images/customer-2.png" alt="Alternate Text" />
                            <p>This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself.</p>
                        </div>
                        <div class="comment-info">
                            <p class="person">
                                <span class=""></span>
                                <span class=""></span>
                            </p>
                            <a href="#"><img src="assets/images/twitter.png" alt="Alternate Text" /></a>
                        </div>
                    </div>
                    <div class="comment-block">
                        <div class="comment">
                            <img src="assets/images/customer-3.png" alt="Alternate Text" />
                            <p>This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself.</p>
                        </div>
                        <div class="comment-info">
                            <p class="person">
                                <span class=""></span>
                                <span class=""></span>
                            </p>
                            <a href="#"><img src="assets/images/twitter.png" alt="Alternate Text" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section>


    <section class="section-pricing background-grey" ng-controller="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="title">Choose your plan</h2>
                    <p>This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself walking.</p>
                    <p>
                        <span>select the number of licenses:</span>
                        <select class="custom-select" 
                                ng-model="selectedItem" 
                                ng-options="license.name as license.value for license in licensies"
                                ng-change="updateLicenseCount()">
                        </select>
                    </p>
                    <div class="input-group">
                        <input type="text" 
                               class="form-control" 
                               ng-model="promocode"
                               placeholder="Promocode"/>
                        <button class="btn" ng-click="checkPromocode()">Apply</button>
                    </div>
                </div>
                <div class="col-md-7 d-flex">
                    <div class="pricing-block">
                        <h3 class="subscription-name">Professional</h3>
                        <p class="price">{{currentSubscriptionPrice}}$</p>
                        <ul class="advantages">
                            <li>Hundreds of elements</li>
                            <li>Style guide</li>
                            <li>160 icons included</li>
                            <li>Sketch files</li>
                            <li>Commercial licence</li>
                        </ul>
                        <button class="btn gradient-orange">Buy Now</button>
                    </div>
                    <div class="pricing-block">
                        <h3 class="subscription-name">Starter</h3>
                        <p class="price">Free</p>
                        <ul class="advantages">
                            <li>Hundreds of elements</li>
                            <li>Style guide</li>
                            <li>30 icons included</li>
                            <li>Personal licence</li>
                        </ul>
                        <button class="btn gradient-aquamarine">Get Free</button>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section>

    <section class="section-contact background-blue" ng-controller="userForm">
        <div class="container">
            <div class="col-md-8">
                <h2 class="title">Stay in touch</h2>
                <p>This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment.</p>
                <div>
                    <div>
                        <input type="text" ng-model="user.name" placeholder="Your name"/>
                        <input type="email" ng-model="user.email" placeholder="Email Adress"/>
                    </div>
                    <div>
                        <select ng-model="user.country"
                                ng-options="country.name as country.value for country in countries">
                            <option value="" disabled selected>Choose Country</option>
                        </select>
                        <input type="text" ng-if="user.country" ng-model="user.city"/>
                    </div>
                    <textarea placeholder="Message" ng-model="user.message"></textarea>
                    <button class="btn gradient-orange" ng-click="sendUserInfo()">Submit</button>
                </div>
            </div>
        </div><!--/.container-->
    </section>

    <footer class="background-grey">
        <div class="container">
            <a class="navbar-brand" href="#">AppStarter</a>
            <div class="copyright">
                <p>Created with <img src="assets/images/heart-icon.png" alt="Alternate Text" /> by <b>Sergey Azovskiy</b></p>
                <p>&copy; AppStarter, 2017</p>
            </div>
            <ul class="social">
                <li><a href="#"><img src="assets/images/twitter.png" alt="Alternate Text" /></a></li>
                <li><a href="#"><img src="assets/images/facebook.png" alt="Alternate Text" /></a></li>
                <li><a href="#"><img src="assets/images/instagram.png" alt="Alternate Text" /></a></li>
            </ul>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.7.3/angular-sanitize.min.js"></script>-->
    <script src="assets/main.js"></script>
</body>
</html>